.weatherContainer {
  border: 1px solid gray;
  margin: 15px auto;
  padding: 15px;
  border-radius: 10px;
  max-width: 400px;
}
h1 {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.emoji,
.prescription {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.future {
  text-align: center;
}
.info {
  text-align: center;
}
.units {
  font-size: 18px;
  position: relative;
  top: -10px;
  right: 6px;
}
a:-webkit-any-link {
  text-decoration: none;
}
small {
  font-size: 80%;
  font-weight: 400;
  margin: 0 auto;
  display: block;
  text-align: center;
}
#current-location {
  position: relative;
  top: 6px;
  left: 38px;
}
#searchButton {
  background-color: rgba(94, 145, 211, 0.767);
  border: rgba(94, 145, 211, 0.767);
}
.weather::first-letter {
  text-transform: capitalize;
}

h1 .active {
  color: black;
  cursor: default;
}
h1 .active:hover {
  cursor: default;
  color: black;
}
.weather-forecast {
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
